main {
  display: flex;
  flex-direction: column;
}

section {
  border: 2px solid black;
  padding: 50px;
  margin: 5px;

  position: relative;
}

main section h3 {
  margin: 20px;
}

.bookmark_filled {
  height: 1rem;
  position: absolute;
  top: 0;
  right: 10px;
}

.answer_button {
  background-color: blanchedalmond;
  position: absolute;
  left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.tags {
  position: absolute;
  bottom: 10px;
  left: 5px;
}
.tags span {
  border: 1px solid black;
  padding: 5px;
}
