nav {
  border-top: 1px solid black;
  background-color: blanchedalmond;

  display: flex;
  justify-content: space-evenly;

  width: 100%;
  height: 15vh;
  margin-top: 20px;

  position: fixed;
  bottom: 0px;
}

nav div {
  padding: 20px;
  border: none;
}

img {
  max-width: 80px;
}
