header {
  display: flex;
  background-color: black;
  margin-bottom: 15px;

  height: 15vh;
}

.headerphoto {
  margin: 5px;
}

div.headline {
  display: flex;
  flex-direction: column;
}

h1 {
  color: blanchedalmond;
  align-self: center;
  font-size: 36px;
  padding: 5px;
  margin: 5px;
}

div.headline p {
  color: blanchedalmond;
  align-self: center;
}
