header {
  display: flex;
  background-color: black;
  margin-bottom: 15px;

  height: 18vh;
}

.headerphoto {
  margin: 5px;
}

div.headline {
  display: flex;
  flex-direction: column;
}

.headline {
  color: blanchedalmond;
}

h1 {
  align-self: center;
  font-size: 36px;
  padding: 5px;
  margin: 5px;
}

.header_quote {
  display: none;
}

@media screen and (min-width: 350px) {
  .header_quote {
    display: block;
  }
}
